/* You can add global styles to this file, and also import other style files */
body {
    //font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #070709;

    p {
        padding: 0;
        margin: 0;
    }
}